doctype html
html(lang="en")
	head
		title= Home
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", crossorigin="anonymous")
		link(rel="stylesheet", type="text/css", href="/stylesheets/style.css?t=2")
		script(src="/javascripts/angular.min.js")
	body
		div(ng-app="myapp")
			div(data-ng-controller="AngularJSCtrl")
				form(name="modesetting", ng-controller="ModeController")
					label Mode
					div.actions.btn-group
						input.btn.btn-default(type="submit", value="Force On", ng-click="submit1('3')")
						input.btn.btn-default(type="submit", value="On", ng-click="submit1('1')")
						input.btn.btn-default(type="submit", value="Proximity", ng-click="submit1('2')")
						input.btn.btn-default(type="submit", value="Off", ng-click="submit1('0')")
					| {{modefeedback}}

				form(name="tempsetting", ng-controller="TempController", ng-submit="submit2()")
					label Temperature
					div.input.input-group.number-group
						input.form-control(type="number", step="any", name="temp", id="temp", ng-model="data.result", required, autocomplete="off")
						span.input-group-btn
							input.btn.btn-default(type="submit", value="Set")
					| {{tempfeedback}}
					| Currently {{tempCurrent.value}} degrees.


		script.
			var app = angular.module('myapp', []);

			app.service('dataService', function($http) {
				this.getData = function(url) {
					// $http() returns a $promise that we can add handlers with .then()
					return $http({
						'method': 'GET',
						'url': url
					});
				}
			});

			app.controller('AngularJSCtrl', function($scope, dataService) {
				$scope.data = null;
				dataService.getData('/api/settings/temp').then(function(dataResponse) {
					$scope.data = dataResponse.data;
				});
				dataService.getData('/api/status/temp').then(function(dataResponse) {
					$scope.tempCurrent = dataResponse.data;
				});
			});

			app.controller('ModeController', function($scope, $http) {
				$scope.modesetting = {};
				$scope.submit1 = function(val, item, event) {
					var dataObject = {
						'mode'	: val
					};
					var responsePromise = $http.post("/api/settings/mode", dataObject, {});
					responsePromise.success(function(dataFromServer, status, headers, config) {
						if (!dataFromServer['success']) {
							$scope.modefeedback = dataFromServer['message'];
						}
					});
					responsePromise.error(function(data, status, headers, config) {
						alert("Submitting form failed! Check your network connection?");
					});
				}
			});

			app.controller('TempController', function($scope, $http) {
				$scope.tempsetting = {};
				$scope.submit2 = function(item, event) {
					var dataObject = {
						'temp'	: $scope.tempsetting.temp.$modelValue
					};
					var responsePromise = $http.post("/api/settings/temp", dataObject, {});
					responsePromise.success(function(dataFromServer, status, headers, config) {
						if (!dataFromServer['success']) {
							console.log(dataFromServer['err']);
							$scope.tempfeedback = dataFromServer['message'];
						}
					});
					responsePromise.error(function(data, status, headers, config) {
						alert("Submitting form failed! Check your network connection?");
					});
				}
			});
