body {
  padding: 15px;
}

a {
  color: #00B7FF;
}

label {
  display: block;
}

form {
  margin-bottom: 20px;
}
.form-control[type='number'] {
  padding: 0 0 0 12px;
}
.number-group {
  max-width: 8em;
}
